*~
/build*/
*kdev*
*.orig
tags
/author-gpl.txt
/license-*.txt
/license_check/
/install*/
.DS_Store
*.swp
/source-package/
*.pdf
*.mat
/data/
*/*/data/
*/*/figs/
*/*/temp*/
*/*/slprj/
*/*/*/slprj/
*/*/html/
*.mdl.original
*sfun.mexmaci64
*.mdl.autosave
extern/bnt_time_varying/src/utils/sgolay.m
extern/bnt_time_varying/src/utils/sgolayfilt.m
src/EncodersAutoCalib/app/scripts/
src/models/
src/utils/plotSensorMeasToEstAngleImprovmtBarGraph.m
